:root {
  --clr-neutral-900: hsl(207, 19%,9%);
  --clr-neutral-100: hsl(0,0%,100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}


body {
  display: grid;
  min-height: 200vh;
  place-items: center;
  line-height: 2;
  background-color: var(--clr-neutral-900);
  font-family: sans-serif;

}

.card{
  color: var(--clr-neutral-100);
  background-image: url(images/portfolio2.png);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 100%;
  border-style: solid;
  border-color: lightseagreen;
  border-radius: 0.8rem;
  overflow: hidden;

  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.75) 25%,
    hsl(0 0% 0% / 0.9)
    );

  transform: translateY(60%);
  transition: transform 400ms ease;
}

.card-content > * {
  opacity: 0;
  transition: opacity 400ms linear;
}

.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-content > * {
  opacity: 1;
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after{
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding)*-1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: lightseagreen;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 600ms ease;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-body {
}

.button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: black;
  background-color: lightseagreen;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;

}

.button:hover, button.focus {
  background-color: white;
}
